---
interface Props {
  headerText?: string;
  headerColor?: "primary" | "secondary" | "accent";
  class?: string;
}

const {
  headerText,
  headerColor = "primary",
  class: className = "",
} = Astro.props;

const headerColorClasses = {
  primary: "bg-primary text-white",
  secondary: "bg-secondary text-black",
  accent: "bg-accent text-black",
};
---

<div class={`neo-card bg-white ${className}`}>
  {
    headerText && (
      <div
        class={`${headerColorClasses[headerColor]} p-3 border-b-[3px] border-black`}
      >
        <h3 class="font-bold text-xl">{headerText}</h3>
      </div>
    )
  }
  <div class="p-6">
    <slot />
  </div>
</div>
