---
import Header from "../organisms/Header.astro";
import Hero from "../organisms/Hero.astro";
import Features from "../organisms/Features.astro";
import Architecture from "../organisms/Architecture.astro";
import TechStack from "../organisms/TechStack.astro";
import GetInvolved from "../organisms/GetInvolved.astro";
import Footer from "../organisms/Footer.astro";
---

<div class="min-h-screen bg-accent">
  <Header />
  <main>
    <Hero />
    <Features />
    <Architecture />
    <TechStack />
    <GetInvolved />
  </main>
  <Footer />
</div>
