NEXT_PRIVATE_LOCAL_WEBPACK=true 
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_AUTH_COOKIE_NAME=synkro_auth_token
NEXT_PUBLIC_AUTH_TOKEN_EXPIRY=7
NEXT_PUBLIC_AUTH_TOKEN_KEY=synkro_token
NEXT_PUBLIC_AUTH_USER_KEY=synkro_user 
NEXT_PUBLIC_DEV=false
NEXT_PUBLIC_LANDING_URL=http://localhost:3001
NEXT_PUBLIC_AUTH_SERVICE_URL=http://localhost:3000
NEXT_PUBLIC_AUTH_INTERFACE_URL=http://localhost:5173